<app-nav-bar [title]="form?.title"
             [backButtonVisible]="backButtonVisible"
             class="toolbar-actions">
</app-nav-bar>

<div class="manage-container">
    <div class="form-container">
        <div class="form-item">
            <div class="form-label">Title :</div>
            <div class="form-value">{{ form?.title }}</div>
        </div>
        <div class="form-item">
            <div class="form-label">Description :</div>
            <div class="form-value">{{ form?.description }}</div>
        </div>
        <div class="form-item">
            <div class="form-label">Owner :</div>
            <div class="form-value">{{ form?.owner?.firstName }} {{ form?.owner?.lastName }}</div>
        </div>
        <div class="form-item">
            <div class="form-label">Public :</div>
            <mat-slide-toggle
                [disabled]="instanceInProgress"
                [checked]="form?.isPublic" 
                (change)="toggleIsPublic()">
            </mat-slide-toggle>
        </div>
        <div *ngIf="listQuestion.length > 0; else noQuestions">
            <h2 class="mb-4">Questions</h2>
            <div *ngFor="let question of listQuestion">
                <app-form-question-card
                    [question]="question"
                    [totalQuestion]="listQuestion.length"
                    (moveDownEvent)="moveDown($event)"
                    (moveUpEvent)="moveUp($event)"
                    (editQuestionEvent)="editQuestion($event)"
                    (delQuestionEvent)="delQuestion($event)"
                    [instanceInProgress]="instanceInProgress">
                </app-form-question-card>
            </div>
        </div>
    </div>

    

    <ng-template #noQuestions>
        <h1 style="text-align: center">No Question</h1>
    </ng-template>
    <div>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add Question</button>
        </mat-card-actions>
    </div>
</div>
