<app-nav-bar title="My Forms"   [isSaveVisible]="isSaveVisible" [isSearchVisible]="isSearchVisible"
             [isAddVisible]="isAddVisible" class="toolbar-actions" (searchEvent)="handleSearch($event)"></app-nav-bar>

<div class="container my-4">
  <div *ngIf="forms.length > 0; else noForms">
    <h2 class="mb-4">Vos Formulaires</h2>
    <div class="row">
        <div *ngFor="let form of filteredForms">
        <app-form-card [form]="form" (openFormEvent)="openForm($event)" (editFormEvent)="editForm($event)"></app-form-card>
      </div>
    </div>
  </div>

  <!-- Si aucun formulaire n'est disponible -->
  <ng-template #noForms>
    <mat-card class="no-forms-card">
      <mat-card-content class="text-center">
        <mat-icon color="warn">warning</mat-icon>
        <p>{{ errorMessage || 'aucun formulaire trouvé.' }}</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>