<app-nav-bar title="Answer Form" [isSaveVisible]="isSaveVisible" [isSearchVisible]="isSearchVisible"
             [isAddVisible]="isAddVisible" [backButtonVisible]="backButtonVisible" class="toolbar-actions"
             (saveEvent)="saveButtonAction()"></app-nav-bar>

<div class="instance-container">
    <div class="form-container">
        <div class="form-item">
            <div class="form-label">Title:</div>
            <div class="form-value">{{ form?.title }}</div>
        </div>
        <div class="form-item">
            <div class="form-label">Description:</div>
            <div class="form-value">{{ form?.description }}</div>
        </div>
        <div class="form-item">
            <div class="form-label">Started:</div>
            <div class="form-value">{{ instance?.started | date:'dd/MM/yyyy HH:mm:ss' }}</div>
        </div>
        <div class="form-item">
            <div class="form-label" *ngIf="!isInProgress(); else inProgress">Completed:</div>
            <div class="form-value" *ngIf="!isInProgress();">
                {{ instance?.completed | date:'dd/MM/yyyy HH:mm:ss' }} 
            </div>
                <ng-template #inProgress>
                    In Progress
                </ng-template>
        </div>
        <div *ngIf="questions.length > 0; else noQuestion">

            <button mat-icon-button (click)="switchQuestion(questionTracker - 1)" [disabled]="questionTracker == 1">
                <span>&lt;</span>
            </button>

            <button mat-icon-button (click)="switchQuestion(questionTracker + 1)" [disabled]="questionTracker >= questions.length ">
                <span>&gt;</span>
            </button>

            <button mat-icon-button [disabled]="!isInProgress()" (click)="deleteButtonAction()">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button [disabled]="!isSaveable" (click)="saveButtonAction()">
                <mat-icon>save</mat-icon>
            </button>
            
            
            <p>Question {{questionTracker}}/{{questions.length}}</p>
        <app-instance-question-card [question]="currentQuestion" [questionType]="currentQuestion?.questionType" [answers]="currentAnswers" [isCompleted]="!isInProgress()" (updatedValuesEvent)="receiveValue($event)"></app-instance-question-card>
        </div>
        <ng-template #noQuestion>
            This form doesn't have any question!
        </ng-template>
    </div>
</div>
