.toolbar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

.instance-container {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-label {
    font-weight: lighter;
    min-width: 100px;
    width: 100px;
}

.form-value {
    font-weight: bold;
    word-break: break-word;
}
