<mat-card class="question-card">
    <mat-card-header>

      <mat-card-title>
        <strong>{{ question.title }}</strong>
      </mat-card-title>
      
      <div *ngIf="!instanceInProgress">
        <div class="button-header">
          <button *ngIf="indexQuestion != sizeListQuestion " mat-icon-button (click)="moveDown()">
            <img src="assets/icons/arrow-down.svg" />
          </button>
          <button *ngIf="indexQuestion != 0" mat-icon-button (click)="moveUp()">
            <img src="assets/icons/arrow-up.svg" />
          </button>
        </div>
      </div>

    </mat-card-header>
  
    <mat-card-content>
      <mat-card-subtitle>
        <p><strong>{{ question.description }}</strong></p>
      </mat-card-subtitle>

      <p>Type: <strong>{{ question.questionType }}</strong></p>
      <p>Required: <strong>{{ question.required }}</strong></p>
      <div *ngIf="!instanceInProgress" class="button-content">
        <button mat-icon-button (click)="editQuestion()">
            <img src="assets/icons/pencil.svg" />
          </button>
          <button mat-icon-button (click)="delQuestion()">
            <img src="assets/icons/trash.svg" />
          </button>
      </div>
      
    </mat-card-content>
  
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
  