<app-nav-bar 
    [title]="navBarTitle"
    [backButtonVisible]="backButtonVisible"
    class="toolbar-actions">
</app-nav-bar>

<div class="submitted-instances-container">
    <h1>Submitted Instances</h1>
        <div *ngFor="let instance of form?.listInstance">
            <app-instance-card
                [instance]="instance"
                (deleteSelectedEvent)="onInstanceSelectionChange($event)"
                (viewInstanceEvent)="viewInstance($event)">
            </app-instance-card>
        </div>

        <div>
            <mat-card-actions>
                <button [disabled]="selectedInstances.length == 0" 
                    mat-raised-button color="primary" (click)="deleteSelected()">Delete Selected</button>
            </mat-card-actions>
            <mat-card-actions>
                <button [disabled]="form?.listInstance?.length == 0" 
                    mat-raised-button color="primary" (click)="deleteAll()">Delete All</button>
            </mat-card-actions>
        </div>
</div>