<app-nav-bar
[backButtonVisible]="true"
[title]="title">
</app-nav-bar>

<div class="container">
        
    <h2>Users with Access</h2>
    
    
    <div *ngIf="usersWithAccess.length > 0; else nosUsersWithAccess">
        <div *ngFor="let user of usersWithAccess" style="display: flex;">
            
            

            <ng-container *ngIf="user.firstName || user.lastName; else emailOnly">
                <p style="margin-top: 8px">{{ user.firstName }} {{ user.lastName }}</p>
            </ng-container>

            <ng-template #emailOnly>
                <p style="margin-top: 8px">{{ user.email || "Email not available" }}</p>
            </ng-template>

            <mat-checkbox
                        [checked]="true"
                        [disabled]="isCheckBox1Disabled(user)"
                        (change)="onHasAccessCheckboxChange(user, CheckboxType.User, $event)"
                >
                    User
                </mat-checkbox>
                <mat-checkbox
                        [checked]="isCheckBox2Checked(user)"
                        (change)="onHasAccessCheckboxChange(user,CheckboxType.Editor,$event)"
                >
                    Editor
                </mat-checkbox>
        </div>
    </div>
    <ng-template #nosUsersWithAccess>
        <p>No users with access.</p>
    </ng-template>
    
    
    <h2>Add User Access</h2>
    
    
    <div *ngIf="usersWithNoAccess.length > 0; else nosUsersWithNoAccess">
        
        <div class ="noAccess-Combo-Checkboxes-Container">
            <mat-form-field appearance="fill">
                <mat-label>Select a user..</mat-label>
                <mat-select [(value)]="selectedUserId" placeholder="Select a user..">
                    <mat-option *ngFor="let user of usersWithNoAccess" [value]="user.id" >
                         <ng-container *ngIf="user.firstName || user.lastName; else emailOnly">
                             {{ user.firstName }} {{ user.lastName }}
                         </ng-container>
                        <ng-template #emailOnly>
                            {{ user.email || 'Email not available' }}
                        </ng-template>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class ="noAccessCheckboxes">
                <mat-checkbox
                        [checked]="isUserCheckboxChecked()"
                        [disabled]="isUserCheckboxDisabled()"
                        (change)="onHasNoAccessCheckboxChange(CheckboxType.User, $event)"
                >
                    User
                </mat-checkbox>
                <mat-checkbox
                        (change)="onHasNoAccessCheckboxChange(CheckboxType.Editor,$event)"
                >
                    Editor
                </mat-checkbox>
            </div>
        </div>        
        
        <button class="mat-btn" mat-raised-button color="primary" (click)="AddButtonAction()">
            Add
        </button>
        
    </div>
    
    <ng-template #nosUsersWithNoAccess>
        <p>No users with no access to add..</p>
    </ng-template>

    
</div>