<app-nav-bar [title]="navBarTitle" [backButtonVisible]="backButtonVisible" [hasUnsavedChanges]="changesNotSaved"
             (saveEvent)="onSaveEvent()"></app-nav-bar>

<form [formGroup]="form" class="form-container">
    <!-- Option List Name -->
    <div>
        <label for="optionListName">Option List Name*</label>
        <input id="optionListName" type="text" formControlName="name" class="form-control"
               placeholder="Enter the name of the option list" required/>
        
        <!-- Validation Errors -->
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.dirty" class="error-message">
            <mat-error *ngIf="form.get('name')?.errors?.['required']">Name is required.</mat-error>
            <mat-error *ngIf="form.get('name')?.errors?.['minlength']">Name must be at least 3 characters.</mat-error>
            <mat-error *ngIf="form.get('name')?.errors?.['unique']">This name already exists for this owner.</mat-error>
        </div>
    </div>

    <!-- List of Existing Options (with checkboxes) -->
    <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="option-list">
        <div class="option-item" *ngFor="let option of optionList?.listOptionValues; let i = index" cdkDrag>
            <mat-checkbox [formControl]="getControl(i)" (change)="onOptionSelectChange()">
                {{ option.value }}
            </mat-checkbox>
        </div>
    </div>

    <div class="action-buttons">
        <!-- Cancel Button -->
        <button mat-raised-button color="warn" type="button" (click)="onCancelSelection()" *ngIf="isAnyOptionSelected">
            Cancel selection
        </button>
        
        <!-- Delete Button -->
        <button mat-raised-button color="primary" type="button" (click)="onDeleteSelectedOptions()" *ngIf="isAnyOptionSelected">
            Delete Selected Options
        </button>
    </div>

    <!-- Add New Option -->
    <div class="add-option-container">
        <input id="newOption" type="text" placeholder="New Value" class="form-control" formControlName="newOption"
        (input)="updateAddOptionDisabled()"/>
        <button mat-icon-button color="primary" type="button" (click)="addOption()" aria-label="Add option" 
                [disabled]="addOptionDisabled">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <!-- Validation Errors -->
    <div *ngIf="form.get('newOption')?.invalid && form.get('newOption')?.dirty" class="error-message">
        <mat-error *ngIf="form.get('newOption')?.errors?.['minlength']">Value must be at least 3 characters.</mat-error>
        <mat-error *ngIf="form.get('newOption')?.errors?.['duplicate']">This item name already exists for this list.</mat-error>
    </div>

    <!-- Checkbox Input -->
    <div>
        <label for="checkbox" *ngIf="isSystemCheckboxVisible">
            <input id="checkbox" type="checkbox" formControlName="isSystem"/>Is System
        </label>
    </div>

    <!-- Buttons at the Bottom: Cancel & Save -->
    <div class="action-buttons">
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" (click)="onSave()" [disabled]="isSaveDisabled">
            Save List
        </button>
    </div>

    <div *ngIf="isLoading" class="spinner">Saving, please wait...</div>
</form>
