<mat-toolbar>
    <!-- bouton du menu déroulant-->
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" *ngIf="!backButtonVisible">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button *ngIf="backButtonVisible" (click)="backClicked()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    
    <!-- affichage du titre de la page-->
    <span class="title">{{ title }}</span>
    
    <!-- pour mettre des éléments à droite -->
    <span class="spacer"></span>
    
    <!-- Search Bar -->
    <mat-form-field *ngIf="searchVisible" class="search-field" appearance="outline">
        <input #searchInput matInput type="text" placeholder="search..." (input)="onSearchChange($event)">
        <button mat-icon-button matSuffix (click)="toggleSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    
    <!-- Search button -->
    <button mat-icon-button *ngIf="isSearchVisible" (click)="toggleSearch()">
        <mat-icon>search</mat-icon>
    </button>
    
    <!-- Add button -->
    <button mat-icon-button *ngIf="isAddVisible" (click)="createForm()">
        <mat-icon>add</mat-icon>
    </button>

    <!-- Edit button -->
    <button mat-icon-button *ngIf="isEditVisible" (click)="editForm()">
        <mat-icon>edit</mat-icon>
    </button>

    <!-- Save button -->
    <button mat-icon-button *ngIf="isSaveVisible" (click)="onSave()" [disabled]="saveDisabled">
        <mat-icon>save</mat-icon>
    </button>

    <!-- Analyse button -->
    <button mat-icon-button *ngIf="isAnalyseVisible" (click)="analyse()">
        <mat-icon>insights</mat-icon>
    </button>
</mat-toolbar>

<!--Menu déroulant quand on click dessus-->
<mat-menu #menu="matMenu">
    
    <!-- Redirection vers la page Home-->
    <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
    </button>

    <!-- Redirection vers manage option lists-->
    <button *ngIf="isOptionListVisible" mat-menu-item routerLink="/manage-option-lists">
        <mat-icon>person</mat-icon>
        <span>My Option Lists</span>
    </button>
    
    <!-- Redirection vers la page de login-->
    <!--il faut surement déplacer la logique du logout dans le nav-bar.comporent.ts au lieu de home.component.ts (à vérifier)-->
    <button mat-menu-item (click)="logout()">
        <mat-icon>Logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
