<head>
    <!-- Charger Bootstrap Icons via CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{ form.title }}
        <ng-container *ngIf="form.isPublic; else privateContent">
          <i class="bi bi-globe-americas"></i>
        </ng-container>
        <ng-template #privateContent>
          <span id="barré">
            <i class="bi bi-globe-americas"></i>
          </span>
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle *ngIf="user?.role != 0">{{ form.description || 'No description' }}</mat-card-subtitle>
      <p>by <strong>{{ form.owner.firstName }} {{ form.owner.lastName }}</strong></p>

      <div *ngIf="user?.role != 0 && form.listInstance.length > 0">
        <div>
          <p>Started: <strong>{{ form.listInstance[0].started | date:'dd/MM/yyyy HH:mm:ss' }}</strong></p>
          <p *ngIf="!form.listInstance[0].completed; else completedContent">
            Completed: <strong>In Progress</strong>
          </p>
          <ng-template #completedContent>
            <p>Completed: <strong>{{ form.listInstance[0].completed | date:'dd/MM/yyyy HH:mm:ss' }}</strong></p>
          </ng-template>
        </div>
      </div>
      
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="form?.listQuestion!.length > 0" mat-raised-button color="primary" (click)="openForm()">Open</button>
      <button *ngIf="isManageButtonVisible" mat-raised-button color="primary" (click)="manageForm()">Manage</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>