<head>
    <!-- Charger Bootstrap Icons via CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{ form.title }}
        <ng-container *ngIf="form.isPublic; else privateContent">
          <i class="bi bi-globe-americas"></i>
        </ng-container>
        <ng-template #privateContent>
          <span id="barré">
            <i class="bi bi-globe-americas"></i>
          </span>
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>{{ form.description || 'No description' }}</mat-card-subtitle>
      <p>by <strong>{{ form.owner.firstName }} {{ form.owner.lastName }}</strong></p>
      <ng-container *ngIf="form.lastInstance?.started && user?.role !== 0">
        <p>Started: <strong>{{ form.lastInstance.started | date:'dd/MM/yyyy HH:mm:ss' }}</strong></p>
        <p> {{ user }}</p>
        <!-- Si completed == null-->
        <p *ngIf="!form.lastInstance?.completed">
          Completed: <strong>In Progress</strong>
        </p>
        
        <!-- Si completed != null -->
        <p *ngIf="form.lastInstance?.completed">
          Completed: <strong>{{ form.lastInstance.completed | date:'dd/MM/yyyy HH:mm:ss' }}</strong>
        </p>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openForm()">Open</button>
      <button mat-raised-button color="primary" (click)="manageForm()">Manage</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>