<!--<p *ngFor="let answer of answers">{{ answer.value }}</p>-->

<div [ngSwitch]="questionType?.valueOf()">
    <div *ngSwitchCase="QuestionType.Short">
        <mat-form-field>
            <input matInput [(ngModel)]="currentValue" [disabled]="isCompleted" (input)="onFieldInput()">
        </mat-form-field>
    </div>

    <div *ngSwitchCase="QuestionType.Long">
        <mat-form-field>
            <textarea matInput [(ngModel)]="currentValue" [disabled]="isCompleted"></textarea>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="QuestionType.Date">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="currentValue" [disabled]="isCompleted">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="isCompleted"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="isCompleted"></mat-datepicker>
        </mat-form-field>
    </div>

    <div *ngSwitchCase="QuestionType.Email">
        <form>
            <div>
                <input
                        type="email"
                        id="email"
                        name="email"
                        ngModel
                        (input)="onFieldInput()"
                        email
                        #email="ngModel"
                        [(ngModel)]="currentValue"
                        [disabled]="isCompleted"
                />
                <div *ngIf="email.touched">
                    <small style="color:red;" *ngIf="email.errors?.email">Please enter a valid email.</small>
                </div>
            </div>
        </form>
    </div>

    <div *ngSwitchCase="QuestionType.Integer">
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="currentValue" [disabled]="isCompleted">
        </mat-form-field>
    </div>

    <div *ngSwitchCase="QuestionType.Check">
        <mat-checkbox *ngFor="let option of optionList?.optionValues; let i = index" 
                      [value]="option.value" 
                      [disabled]="isCompleted"
                      [checked]="preselectCheckBox(option, i)">
            {{ option.value }}
        </mat-checkbox>
    </div>

    <div *ngSwitchCase="QuestionType.Combo">
        <select matNativeControl [disabled]="isCompleted" >
            <option *ngFor="let option of optionList?.optionValues; let i = index"
                            [selected]="preselectCombo(option, i)"
            >{{ option.value }}</option>
        </select>
    </div>

    <div *ngSwitchCase="QuestionType.Radio">
        <mat-radio-group [disabled]="isCompleted">
            <mat-radio-button *ngFor="let option of optionList?.optionValues; let i = index"
                              [value]="option.value"
                              [checked]="preselectRadioButton(option, i)">
                {{ option.value }}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div *ngSwitchDefault>Unknown QuestionType</div>
</div>